.LeftBanner img{
    width: 60%;
    height: 400px;
    margin-left:10px ;
    margin-right:10px ;
}
.LeftBanner{
width: 65%;
height:400px;
}

.RightBanner{
    height: 400px;
    overflow-y: scroll;
    scrollbar-color: yellow blue;
    overscroll-behavior-y: scroll;

   
}
.RightBanner img{
    height: fit-content;
    width: 400px;
    display: -moz-inline-box;
}